<ion-split-pane contentId="main">
  <ion-menu contentId="main" menuId="mainMenu" side="start" type="overlay">
    <ion-header>
      <ion-toolbar>
        <ion-title>Juanma</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-menu-toggle>
        <ion-item button="true" detail="true" [routerLink]="['/home']"  >
          <ion-label>Deportes</ion-label>
          <ion-icon name="basketball" slot="start"></ion-icon>
        </ion-item>
      </ion-menu-toggle>
      

      
    </ion-content>
  </ion-menu>
</ion-split-pane>